<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <%= comment.commenter %>
    </h4>
    <div class="card-text">
      <%= comment.body %>
    </div>
    <br/>
    <div class="text-center">
      <%= link_to 'Delete', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  :class => "btn btn-outline-primary" %>
    </div>
  </div>
</div>
